<div class="container fluid">
  <div class="row greet">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <h1>Greeting</h1>
        <h3>What is your name?</h3>
        </div>
      </div>
    </div>
    </div>

    <div class="container fluid">
    <div class=row>
    <div class = col-md-10>
    <div class="errorOne">
    {{messages.errorOne}}
    </div>
    </div>
    </div>
    </div>


<form class="" action="/greetings" method="post">
  <div class="container fluid">
    <div class="row">
      <div class = "col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <input type="text" name="theUsers" value="{{names}}" placeholder="Your name please..." class="nameText">
        </div>
      <div class="col-md-1">
        <input class="btn btn-outline-dark btn-lg" type="submit" value="Greet"></input>            
      </div>
      
    </div>
  </div>


  <div class="container fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <h5>Language</h5>

      <label class="lang">
        <input type="radio" name="LanguageType" class="LanguageTypeRadio" value="English">
        <span class="label-body">English</span>
      </label>

      <label class="lang2">
        <input type="radio" name="LanguageType" class="LanguageTypeRadio" value="Afrikaans">
        <span class="label-body" >Afrikaans</span>
      </label>

      <label class="lang3">
        <input type="radio" name="LanguageType" class="LanguageTypeRadio" value="isiXhosa">
        <span class="label-body">isiXhosa</span>
      </label>      
    </div>
  </div>
</div>
</form>

<div class="container fluid">
<div class="row">
<div class="col-md-10">
<div class="errorTwo">
<span class="">{{messages.errorTwo}}</span>
</div>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-3">
    <a href="/greeted"><button class="btn btn-outline-secondary border" type="button" name="button">Greeted People</button></a>     
    <a href="/reset"><button class="btn btn-outline-secondary border" type="submit" name="button">Reset</button></a>
</div>
</div>

<div class="col-md-2">
  <span id="bold">Count: {{count}}</span>  
</div>
    
<div class="container fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <span class="">{{returnsValues}}</span>
      
      </div>
    </div>
  </div>


              
                