<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm head">
        <h3>What is your name?</h3>
        </div>
        <div class="col-sm">
        <a href="/"><i class="fas fa-home"></i></a>
      </div>
    </div>
    </div>
</header>

<div class="container-fluid padding">
  <div class="row text-center errorOne">
    <div class="col-12 err">
      {{messages.errorOne}}
        <div class="row">
          <div class="col-12 err">
        {{messages.errorThree}}
        </div>
      </div>
    </div>
  </div>
</div>     


<form class="" action="/greetings" method="post">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <input type="text" name="theUsers" value="{{names}}" placeholder="Your name please..." class="nameText">
      <input class="btn btn-outline-secondary" type="submit" value="Greet"></input>
    </div>        
  </div>
</div>

<div class="container-fluid border">
  <div class="row">
    <div class="col-12">
      <h5>Language</h5>
    <hr>
    <label class="radio-inline">
      <input type="radio" name="LanguageType" id="LanguageTypeRadio" value="English">
      <span class="label-body">English</span>
      
    </label>

    <label class="radio-inline">
      <input type="radio" name="LanguageType" id="LanguageTypeRadio" value="Afrikaans">
      <span class="label-body" >Afrikaans</span>
    </label>

    <label class="radio-inline">
      <input type="radio" name="LanguageType" id="LanguageTypeRadio" value="isiXhosa">
      <span class="label-body">isiXhosa</span>
    </label>
    </div>
  </div>
</div>
</form>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm errorTwo">
      <span class="">{{messages.errorTwo}}</span>
      </div>
    </div>

  <div class="row">
    <div class="col-12 buttons">
      <a href="/greeted"><button class="btn btn-outline-secondary" type="button" name="button">Greeted People</button></a>     
      <a href="/reset"><button class="btn btn-outline-secondary" type="submit" name="button">Reset</button></a>
    </div>

    <div class="col-12 count">
      <span id="bold">Count: {{count}}</span>
    </div>
  </div>
</div>

<div class="container-fluid val">
  <div class="row">
    <div class="col-sm">
      <span class="">{{returnsValues}}</span>      
      </div>
    </div>
  </div>


              
                